.no-display {
  display: none;
}

.control-container-top {
  position: relative;
  width: 60%;
  text-align: center;
  margin: auto;
  background: #484746;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .control-container-top {
    min-width: 320px;
  }
}

.control-top-header {
  color: #f6cf63;
  text-shadow: 1px 1px 1px #000000;
  font-family: 'PT Serif', serif;
}

.show-completed {
  color: white;
  position: absolute;
  left: 12px;
}

.show-rewards {
  position: absolute;
  right: 12px;
  color: white;
}

.show-quests {
  color: white;
  position: absolute;
  left: 12px;
}

.show-description {
  position: absolute;
  right: 12px;
  color: white;
}

.mid-content-holder {
  width: 60%;
  height: 590px;
  margin: auto;
  background: #484746;
  padding: 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .mid-content-holder {
    min-width: 320px;
  }
}

.quests {
  margin-right: 1%;
  width: 49%;
  height: 570px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  border: 1px solid rgb(31, 31, 31);
  background: rgba(26, 26, 26, 0.596);
  border-radius: 10px;
  box-shadow: inset 0 0 30px rgba(41, 41, 41, 0.3),
    inset 0 0 10px rgba(29, 29, 29, 0.4), inset 0 0 30px rgba(20, 20, 20, 0.8);
}

.quest-content {
  height: 570px;
  padding-right: 15px;
  width: auto;
  overflow-y: scroll;
}

/*LEFT SCROLL BAR */

#left-scroll::-webkit-scrollbar {
  width: 8px;
}

/* Track */
#left-scroll::-webkit-scrollbar-track {
  background: #eeeeee;
  border: 1px solid #2e2e2e;
  border-radius: 10px;
}

/* Handle */
#left-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid #3f0200;
  background: rgb(56, 56, 56);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.25), inset 0 0 6px #c52112,
    inset 0 80px 80px -40px #610401;
}

/*RIGHT SCROLL BAR */

#right-scroll::-webkit-scrollbar {
  width: 8px;
}

/* Track */
#right-scroll::-webkit-scrollbar-track {
  background: #eeeeee;
  border: 1px solid #ccac71;
  border-radius: 10px;
}

/* Handle */
#right-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid #462e00;
  background: rgb(88, 60, 1);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.25), inset 0 0 6px #e2ae4d,
    inset 0 80px 80px -40px #613f01;
}

.quests-description {
  margin-left: 1%;
  width: 49%;
  height: 570px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  border: 1px solid rgb(146, 103, 10);
  border-radius: 10px;
  background-color: #d6bb98;
  background-image: linear-gradient(
    to right,
    rgba(224, 176, 86, 0.4),
    rgba(200, 160, 0, 0.1) 11%,
    rgba(0, 0, 0, 0) 35%,
    rgba(200, 160, 0, 0.1) 65%
  );
  box-shadow: inset 0 0 45px rgba(197, 129, 27, 0.3),
    inset 0 0 10px rgba(66, 56, 8, 0.4), inset 0 0 30px rgba(231, 178, 32, 0.8);
}

.quests-description-content {
  height: 570px;
  padding-right: 15px;
  width: auto;
  overflow-y: scroll;
}

.control-container-bottom {
  margin: auto;
  width: 60%;
  background: #484746;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .control-container-bottom {
    min-width: 320px;
  }
}

.bottom-control-buttons {
  cursor: pointer;
  margin-right: 5px;
  height: 26px;
  width: 130px;
  color: #f6cf63;
  text-shadow: 1px 1px 1px #000000;
  border-radius: 7px;
  background: #702b29;
  border: 1px solid #350200;
  font-family: 'PT Serif', serif;
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.25), inset 0 0 6px #e25a4d,
    inset 0 80px 80px -40px #610401;
}

.bottom-control-buttons:hover {
  color: #b38e29;
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.25), inset 0 0 6px #b8291c,
    inset 0 80px 80px -40px #3a0504;
}
